.paddingNav {
    padding-top: 12px;
    padding-bottom: 12px;
}

.imgStyle {
    width: 140px;
    height: 25px;
    margin-right: 10px;
}

.backgroundImgStyle {
    background: #2A4D69;
    position: relative;
    z-index: 0;
    text-align: center;
}

.backgroundImgStyle::before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: '';
    opacity: 0.2;
    z-index: -1;
}

.uploadVideo {
    font-size: 30px;
    line-height: 1;
    font-weight: lighter;
    color: #fff;
    margin-bottom: 13px;
    margin-top: 13px;
}

.uploadButtonStyle {
    border-radius: 100%;
    font-size: 60px;
    padding: 0;
    border: 0;
    height: 100%;
    width: 70px;
    background: #f1f4f5;
    transition: all 300ms ease-in-out 0s;
}

.uploadButtonStyle:hover {
    background: #e74c3c;
}

.plusStyle {
    color: rgb(130, 138, 145);
    font-size: 50px;
    font-weight: bold;
}

.plusStyle:hover {
    color: white;
}

.dropdown>.dropdown-menu {
    top: 200%;
    transition: 0.3s all ease-in-out;
}

.dropdown:hover>.dropdown-menu {
    display: block;
    top: 100%;
}

.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}